.Tilt {
    /* background-image: radial-gradient(circle farthest-corner at -4% -12.9%, rgba(74, 98, 110, 1) 0.3%, rgba(30, 33, 48, 1) 90.2%); */
    background-color: rgba(255, 255, 255, 0.3);
}

h1 {
    color: white;
    padding-left: 24px;
}